.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  text-align: left;
}

.completed {
  text-decoration: line-through;
}

input, button {
  font-size: 16px;
  border: 2px solid #333;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  background: #eee;
}
